# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log
logs/
*.pot

# Next.js / Node
node_modules/
.next/
out/
build/
dist/

# Editor files
*.swp
*.swo
.idea/

# Ignore AI-backend venv if inside project
ai-backend/venv/
